# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# build
main.js
*.js.map

# obsidian
data.json
.vault_plugin_dir
# Note: the Hypothesis client build (resources/cdn.hypothes.is/hypothesis/build) is
# vendored/committed in this fork so builds don't require the hypothesis-client submodule.
